<!-- <h1 class="title">
  {{ name }}
  <span>Age Pay {{ age * price > 1000 ? "Wow" : "hmm" }} </span>
  <span>the creators are {{ creators.name }}</span>
  <p>Greetings {{ sayHi() }}</p>
</h1>
<div>
  <p class="showcase-info">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam inventore maxime recusandae incidunt officia qui
    nobis odio error ratione, quod beatae commodi magnam neque culpa perspiciatis amet, voluptatibus voluptates
    necessitatibus.
    Enim quaerat, consequatur quia doloremque, libero provident molestias vero ipsum quam iusto similique. Et id earum
    qui dicta atque blanditiis, natus tempore amet ad tempora itaque perferendis, aperiam illo vel!
  </p>
  <p class="showcase-info">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam inventore maxime recusandae incidunt officia qui
    nobis odio error ratione, quod beatae commodi magnam neque culpa perspiciatis amet, voluptatibus voluptates
    necessitatibus.
    Enim quaerat, consequatur quia doloremque, libero provident molestias vero ipsum quam iusto similique. Et id earum
    qui dicta atque blanditiis, natus tempore amet ad tempora itaque perferendis, aperiam illo vel!
  </p>
  <p class="showcase-info">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam inventore maxime recusandae incidunt officia qui
    nobis odio error ratione, quod beatae commodi magnam neque culpa perspiciatis amet, voluptatibus voluptates
    necessitatibus.
    Enim quaerat, consequatur quia doloremque, libero provident molestias vero ipsum quam iusto similique. Et id earum
    qui dicta atque blanditiis, natus tempore amet ad tempora itaque perferendis, aperiam illo vel!
  </p>

</div>
<div>
  <input [(ngModel)]="username" name="username" type="text" placeholder="Enter name">
  <p>You entered your name as {{ username }}</p>
</div>

<app-home></app-home>
<app-showcase></app-showcase>
<app-profile></app-profile> 
-->

<section class="navabr-section">
  <app-navbar (showAboutShowCase)="passToMain($event)"></app-navbar>
</section>

<section class="main-section">
  <app-main [showAboutShowCase]="showValFromNavbar"></app-main>
</section>

<section class="footer-section">
  <app-footer></app-footer>
</section>