<!-- ngIf Directive -->
<div class="content-section" *ngIf="showAboutShowCase">
    <h1>About Showcase List</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Unde sunt incidunt doloremque
        nesciunt labore odit, tempora corporis harum provident,
        reprehenderit ab molestiae.
    </p>
</div>

<!-- ngFor Directive -->
<div *ngIf="showShowCaseList" class="list-section">
    <!-- List of Users -->
    <h1>Showcase - User List</h1>
    <div class="user-container">
        <div class="user-item" *ngFor="let user of users">
            <p>Username : {{ user.username}}</p>
            <p>Age : {{ user.age}}</p>
            <p>Gender : {{ user.gender}}</p>
            <p>Profession : {{ user.proffesion}}</p>
        </div>
    </div>
</div>